<div class="top-navbar">
  <div class="container-fluid">
    <div class="row" (mouseover)="hideHiddenContent()">
      <div class="col d-flex justify-content-start align-items-center">
        <div class="mx-3 title">FrutyFest</div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <img class="top" src="./assets/logo.jpg" alt="Logo">
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <li class="list-group-item text-center auth" *ngFor="let item of menuItems" [routerLink]="item.path">
          {{item.name}}
        </li>
      </div>
    </div>
    <div class="row spacer top d-flex align-items-center">
      <div class="col-5 col-sm-5 col-md-3 col-lg-2">
        <li class="list-group-item text-center" (click)="scrollToSection('reglasGenerales')" (mouseover)="hideHiddenContent()">
          Reglas Generales
        </li>
      </div>
      <div class="col-5 col-sm-5 col-md-3 col-lg-2">
        <li class="list-group-item text-center" (click)="scrollToSection('modosDeJuego')" (mouseover)="showHiddenContent()">
          Modos de Juego ▼
        </li>
      </div>
    </div>
    <div class="row spacer top" *ngIf="isHidden" (mouseleave)="hideHiddenContent()">
      <div class="col-2 col-sm-2 col-lg-1">
        <li class="list-group-item text-center" (click)="scrollToSection('fase1')">
          Fase 1
        </li>
      </div>
      <div class="col-2 col-sm-2 col-lg-1">
        <li class="list-group-item text-center" (click)="scrollToSection('fase2')">
          Fase 2
        </li>
      </div>
      <div class="col-2 col-sm-2 col-lg-1">
        <li class="list-group-item text-center" (click)="scrollToSection('fase3')">
          Fase 3
        </li>
      </div>
      <div class="col-3 col-sm-3 col-md-2 col-xl-1">
        <li class="list-group-item text-center" (click)="scrollToSection('faseFinal')">
          Fase Final
        </li>
      </div>
    </div>
  </div>
</div>

<div class="content background" (mouseover)="hideHiddenContent()">
  <app-common-background></app-common-background>
  <router-outlet></router-outlet>
</div>

<div class="bottom-navbar" (mouseover)="hideHiddenContent()">
  <div class="spacer bottom"></div>
  <div class="container">
    <div class="row m-3">
      <div class="col text-start">
        <a href="https://www.linkedin.com/in/%C3%A1ngel-manuel-pereira-rodr%C3%ADguez-009730253/">
          <img class="bottom" src="../assets/linkedin-icon-2.svg" alt="Linkedin">
        </a>
      </div>
      <div class="col text-center">
        <p>© Copyright 2023</p>
        <p>Ángel Pereira</p>
      </div>
      <div class="col text-end">
        <a href="https://github.com/AngelPereiraR">
          <img class="bottom" src="../assets/github-icon-1.svg" alt="GitHub">
        </a>
      </div>
    </div>
  </div>
</div>
