<div class="container m-t-30">
  <form [formGroup]="myForm" (ngSubmit)="addTrial()" class="login100-form" autocomplete="off">

    <span class="login100-form-title p-t-49 p-b-49">
      Añadir modo de juego
    </span>

    <div class="wrap-input100 m-b-23">
      <span class="label-input100">Nombre</span>
      <input type="text" formControlName="name" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 m-b-23">
      <span class="label-input100">Puntos máximos</span>
      <input type="number" formControlName="maxPoints" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 m-b-23">
      <span class="label-input100">Disminución de puntos</span>
      <input type="number" formControlName="pointsDecrease" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 m-b-23">
      <span class="label-input100">Máx. Equipos</span>
      <input type="number" formControlName="maxTeams" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="p-t-15"></div>

    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button class="login100-form-btn" type="submit">
          Añadir
        </button>
      </div>
    </div>

    <div class="flex-col-c p-t-20">
      <div class="row d-flex justify-content-between">
        <div class="col-4">
          <a routerLink="/admin/team" class="txt2">
            VOLVER
          </a>
        </div>
      </div>
    </div>

    <div class="flex-col-c p-t-20">
    </div>
  </form>

</div>
