<div class="container mt-5">
  <form
    [formGroup]="myForm"
    (ngSubmit)="addTrial()"
    class="login100-form"
    autocomplete="off"
  >
    <span class="login100-form-title pt-5">
      Añadir modo de juego
    </span>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Nombre</span>
      <input type="text" formControlName="name" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Puntos máximos</span>
      <input type="number" formControlName="maxPoints" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Disminución de puntos</span>
      <input
        type="number"
        formControlName="pointsDecrease"
        class="form-control"
      />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Máx. Equipos</span>
      <input type="number" formControlName="maxTeams" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Fase</span>
      <div>
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="phase"
            [value]="1"
          />
          1</label
        >
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="phase"
            [value]="2"
          />
          2</label
        >
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="phase"
            [value]="3"
          />
          3</label
        >
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="phase"
            [value]="4"
          />
          4</label
        >
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="phase"
            [value]="5"
          />
          5</label
        >
      </div>
    </div>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Comienzo de fase</span>
      <div>
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="beginningPhase"
            [value]="true"
          />
          SÍ</label
        >
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="beginningPhase"
            [value]="false"
          />
          NO</label
        >
      </div>
    </div>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Final de fase</span>
      <div>
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="endingPhase"
            [value]="true"
          />
          SÍ</label
        >
        <label
          ><input
            class="ms-3"
            type="radio"
            formControlName="endingPhase"
            [value]="false"
          />
          NO</label
        >
      </div>
    </div>

    <div class="pt-3"></div>

    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button
          *ngIf="!loading"
          class="login100-form-btn"
          [disabled]="myForm.invalid"
          type="submit"
        >
          Añadir
        </button>
        <button
          *ngIf="loading"
          class="login100-form-btn"
          [disabled]="true"
          type="submit"
        >
          <spinner></spinner>
        </button>
      </div>
    </div>

    <div class="flex-col-c p-3">
      <div class="row d-flex justify-content-between">
        <div class="col-4">
          <a routerLink="/admin/trial" class="txt2"> VOLVER </a>
        </div>
      </div>
    </div>
  </form>
</div>
