<div id="top" class="black">
  <div class="row d-flex align-items-center">
    <div class="col-3">
      <div>
        <a class="social" href="https://www.youtube.com/@ByFruty">
          <img class="links" src="../assets/youtube.svg" alt="YouTube" />
          ByFruty
        </a>
      </div>
      <div>
        <a class="social" href="https://www.twitch.tv/byfruty">
          <img class="links" src="../assets/twitch.svg" alt="Twitch" />
          ByFruty
        </a>
      </div>
      <div>
        <a class="social" href="https://discord.gg/xeGza8E7fG">
          <img class="links" src="../assets/discord.svg" alt="Discord" />
          Frutylandia
        </a>
      </div>
      <div>
        <a class="social" href="https://www.tiktok.com/@byfruty">
          <img class="links" src="../assets/tiktok.svg" alt="Tiktok" />
          ByFruty
        </a>
      </div>
    </div>
    <div class="col-5 center">
      <section
        class="my-0 my-lg-5 d-flex flex-column gap-3 justify-content-center align-items-center"
      >
        <schedule-02 [timestamp]="eventTimestamp"></schedule-02>
      </section>
    </div>
    <div class="col-4 p-4">
      <h3 class="contact">Si tienes dudas, contáctame</h3>
      <div class="">
        <a class="social" href="https://www.instagram.com/byfruty/">
          <img class="links" src="../assets/instagram.svg" alt="Instagram" />
          ByFruty
        </a>
      </div>
      <div>
        <a class="social" href="mailto:drosterradioactive@gmail.com">
          <img class="links" src="../assets/gmail.svg" alt="Tiktok" />
          Droster Radioactive
        </a>
      </div>
      <div>
        <a
          class="social"
          href="https://discord.com/channels/@me/971799467189747792"
        >
          <img class="links" src="../assets/discord.svg" alt="Tiktok" />
          Fruty .fruty
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div id class="mt-3">
      <div class="col mt-4">
        <div class="row">
          <h1>Ganadores FrutyFest 2</h1>
          <div class="col">
            <h2 class="puesto">Primer puesto</h2>
            <p>ValshyVT</p>
            <img
              class="ganador mt-3"
              src="../assets/primer-miembro-primer-ganador-frutyfest-02.webp"
              alt="ValshyVT"
            />
            <p>velvett_vt</p>
            <img
              class="ganador mt-3"
              src="../assets/segundo-miembro-primer-ganador-frutyfest-02.webp"
              alt="velvett_vt"
            />
          </div>
          <div class="col">
            <h2 class="puesto">Segundo puesto</h2>
            <p>MoshiMoshiVT</p>
            <img
              class="ganador mt-3"
              src="../assets/primer-miembro-segundo-ganador-frutyfest-02.webp"
              alt="MoshiMoshiVT"
            />
            <p>Pansito_vt</p>
            <img
              class="ganador mt-3"
              src="../assets/segundo-miembro-segundo-ganador-frutyfest-02.webp"
              alt="Pansito_vt"
            />
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <frutyfest-02-participants></frutyfest-02-participants>
      </div>
      <h1 id="reglasGenerales" class="mt-5">
        Reglas Generales del FrutyFest 2
      </h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mt-4">
            <h2>Nº de participantes</h2>
            <p>24 participantes</p>
            <p>12 dúos</p>
          </div>
          <div class="mt-4">
            <h2>Premios</h2>
            <p>
              Primer puesto - 200€ (100€ para cada miembro) + Doble trofeo
              físico realizados a mano (Uno para cada ganador)
            </p>
            <p>Segundo puesto - 100€ (50€ para cada miembro)</p>
          </div>
          <div class="mt-4">
            <h2>Requisitos</h2>
            <p>Ambos miembros del dúo tienen que ser afiliados de Twitch.</p>
            <p>Tener constancia a la hora de hacer directos.</p>
            <p>Tener cuenta premium de Minecraft.</p>
            <p>Ser mayor de edad.</p>
            <p>Tener Paypal o algún medio donde otorgar el premio monetario.</p>
          </div>
          <div class="mt-4">
            <h2>Normas adicionales</h2>
            <p>
              En caso de no tener un dúo, los administradores le asignarán un
              compañero que será otro participante sin dúo.
            </p>
            <p>
              En caso de empates de puntos entre en un equipo clasificado y otro
              equipo no clasificado para la siguiente fase, esto se decidirá
              según el orden de registro y creación de los equipos.
            </p>
          </div>
          <div class="mt-4">
            <h2>Versión</h2>
            <p>1.20.1</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
          <h2>Trofeo para cada ganador del primer puesto</h2>
          <img
            class="img-content"
            src="../assets/trofeo-frutyfest-02.webp"
            alt="Trofeo"
          />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <h2>Lobby</h2>
          <img
            class="img-content"
            src="../assets/modosDeJuego/FrutyFest02/Respawn.webp"
            alt="Lobby"
          />
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h1 id="modosDeJuego">Modos de juego</h1>
      <div class="mt-5">
        <h2 id="fase1">Fase 1</h2>
        <p>En esta fase se eliminarán 6 dúos (12 jugadores).</p>
        <div class="row mt-4">
          <h3>CLB (Captura La Bandera)</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 12 jugadores - 6 dúos</p>
              <p>Equipo Azul - 12 jugadores - 6 dúos</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 20 puntos</p>
              <p>Equipo perdedor - 10 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>
                En este modo de juego, los 24 participantes se dividirán en 2
                equipos de 12 donde los jugadores pueden elegir entre 4 clases
                (Arquero, alquimista, tanque y luchador).
              </p>
              <p>
                Tendrán que luchar para capturar la lana del equipo contrincante
                y llevarla a la base sin morir.
              </p>
              <p>El equipo que consiga 2 lanas, gana.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img
              class="img-content-modos"
              src="../assets/modosDeJuego/FrutyFest02/Captura_la_bandera_2.webp"
              alt="CLB"
            />
          </div>
        </div>
        <div class="row mt-5">
          <h3>Eggwars</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo 1 - 4 jugadores - 2 dúos</p>
              <p>Equipo 2 - 4 jugadores - 2 dúos</p>
              <p>Equipo 3 - 4 jugadores - 2 dúos</p>
              <p>Equipo 4 - 4 jugadores - 2 dúos</p>
              <p>Equipo 5 - 4 jugadores - 2 dúos</p>
              <p>Equipo 6 - 4 jugadores - 2 dúos</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 12 puntos</p>
              <p>Segundo equipo - 10 puntos</p>
              <p>Tercer equipo - 8 puntos</p>
              <p>Cuarto equipo - 6 puntos</p>
              <p>Quinto equipo - 4 puntos</p>
              <p>Sexto equipo - 2 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>
                El mítico modo de juego Eggwars con temática de Star Wars y
                grandes islas.
              </p>
              <p>
                6 equipos, cada uno con 4 miembros lucharán por romperle los
                huevos a los equipos adversarios.
              </p>
              <p>Lucharán hasta que sólo quede un equipo.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img
              class="img-content-modos"
              src="../assets/modosDeJuego/FrutyFest02/Eggwars.webp"
              alt="Eggwars"
            />
          </div>
        </div>
        <div class="row mt-5">
          <h3>Skywars</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Dúos - 24 jugadores - 12 dúos</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Dúo ganador - 12 puntos</p>
              <p>Segundo dúo - 11 puntos</p>
              <p>Tercer dúo - 10 puntos</p>
              <p>Cuarto dúo - 9 puntos</p>
              <p>Quinto dúo - 8 puntos</p>
              <p>Sexto dúo - 7 puntos</p>
              <p>Séptimo dúo - 6 puntos</p>
              <p>Octavo dúo - 5 puntos</p>
              <p>Noveno dúo - 4 puntos</p>
              <p>Décimo dúo - 3 puntos</p>
              <p>Undécimo dúo - 2 puntos</p>
              <p>Duodécimo dúo - 1 punto</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>12 equipos de 2 personas lucharán en el clásico SkyWars.</p>
              <p>
                En un mundo muy frutoso donde el equipo que quede vivo se lleva
                la victoria.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img
              class="img-content-modos"
              src="../assets/modosDeJuego/FrutyFest02/Skywars.webp"
              alt="Skywars"
            />
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h2 id="fase2">Fase 2</h2>
        <p>En esta fase se eliminarán 2 dúos (4 jugadores).</p>
        <p>Los puntos se reinician en esta fase.</p>
        <div class="row mt-4">
          <h3>Escondite</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 6 jugadores - 3 dúos</p>
              <p>Equipo Azul - 6 jugadores - 3 dúos</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 8 puntos</p>
              <p>Segundo perdedor - 4 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>
                Hemos reciclado el escondite del FrutyFest 1 y tendrá las mismas
                normas.
              </p>
              <p>
                Primero un equipo, luego otro, huirán y se esconderán de los
                cazadores y el equipo que tenga más supervivientes, gana.
              </p>
              <p>
                En caso de empate se pelean por equipos y el que gane, gana esa
                prueba.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img
              class="img-content-modos"
              src="../assets/modosDeJuego/FrutyFest02/Escondite.webp"
              alt="Escondite"
            />
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <h3>Escapa del laberinto</h3>
        <div class="col-12 col-lg-6 mt-2">
          <div>
            <h3>Equipos</h3>
            <p>Dúos - 12 jugadores - 6 dúos</p>
          </div>
          <div class="mt-3">
            <h3>Puntuaciones</h3>
            <p>Dúo ganador - 6 puntos</p>
            <p>Segundo dúo - 5 puntos</p>
            <p>Tercer dúo - 4 puntos</p>
            <p>Cuarto dúo - 3 puntos</p>
            <p>Quinto dúo - 2 puntos</p>
            <p>Sexto dúo - 1 punto</p>
          </div>
          <div class="mt-3">
            <h3>Descripción del modo</h3>
            <p>
              Hemos reciclado el laberinto del FrutyFest 1 y tendrá las mismas
              normas.
            </p>
            <p>
              En sus principales dúos, se perderán por el laberinto abandonado.
            </p>
            <p>
              Dónde para poder pasar el equipo tiene que llegar completo, así
              que tienen que ponerse de acuerdo para ver por dónde ir.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-2">
          <img
            class="img-content-modos"
            src="../assets/modosDeJuego/FrutyFest02/Laberinto.webp"
            alt="Laberinto"
          />
        </div>
      </div>
      <div class="mt-5">
        <h2 id="fase3">Fase 3</h2>
        <div class="row mt-4">
          <h3>Build Battle</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Dúos - 8 jugadores - 4 dúos</p>
            </div>
            <div class="mt-3">
              <h3>Eliminaciones</h3>
              <p>Cuarto puesto</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Se dividirán en sus respectivos dúos.</p>
              <p>
                Serán 3 rondas de 4 minutos cada una donde tendrán que construir
                sobre la temática que digamos.
              </p>
              <p>
                Los jueces serán los admins, el equipo que más puntos tenga
                entre todas las construcciones, gana.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img
              class="img-content-modos"
              src="../assets/modosDeJuego/FrutyFest02/Build_Battle.webp"
              alt="Build Battle"
            />
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h2 id="fase4">Fase 4</h2>
        <div class="row mt-4">
          <h3>TNT Run</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Dúos - 6 jugadores - 3 dúos</p>
            </div>
            <div class="mt-3">
              <h3>Eliminaciones</h3>
              <p>Tercer puesto</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>
                Hemos reciclado el TNT Run del FrutyFest 1 y tendrá las mismas
                normas.
              </p>
              <p>
                Serán 3 dúos tratando de sobrevivir el mayor tiempo posible
                juntos, el dúo que caiga primero será eliminado y los 2 dúos
                supervivientes pasan a la final.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img
              class="img-content-modos"
              src="../assets/modosDeJuego/FrutyFest02/TNT_Run.webp"
              alt="TNT RUN"
            />
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h2 id="faseFinal">Fase Final</h2>
        <div class="row mt-4">
          <h3>2vs2 final</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Al mejor de 5 rondas.</p>
              <p>
                El clásico PVP donde los 2 dúos finalistas se enfrentan cara a
                cara para ver quién será el dúo victorioso del evento.
              </p>
              <p>Gana el primero que logre 3 puntos.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img
              class="img-content-modos"
              src="../assets/modosDeJuego/FrutyFest02/Batalla_final.webp"
              alt="2vs2"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="irArriba" *ngIf="mostrarBoton">
    <button
      class="btn btn-primary up"
      (click)="scrollToSection('top')"
      title="Volver arriba"
    >
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
</div>
