<div class="container mt-4">
  <form [formGroup]="myForm" (ngSubmit)="addTeam()" class="login100-form" autocomplete="off">

    <span class="login100-form-title py-5">
      Añadir equipo
    </span>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Color</span>
      <input type="color" formControlName="color" class="form-control" />
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 mb-3">
      <span class="label-input100">Participantes</span>
      <select *ngIf="!firstLoading" formControlName="participants" multiple class="form-control">
        <option *ngFor="let user of users(); let i = index" [value]="user">
          <div *ngIf="i < 24">
            {{user.name}}
          </div>
        </option>
      </select>
      <spinner *ngIf="firstLoading"></spinner>
      <div class="input-group">
        <span class="focus-input100"></span>
      </div>
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Evento</span>
      <div class="mt-3">
        <label *ngFor="let event of events">
          <input class="ms-3" type="radio" formControlName="event" [value]='event.event'> {{event.event}}
        </label>
      </div>
      <div class="input-group">
        <span class="focus-input100"></span>
      </div>
    </div>

    <div class="pt-3"></div>

    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button *ngIf="!loading" class="login100-form-btn" [disabled]="myForm.invalid" type="submit">
          Añadir
        </button>
        <button *ngIf="loading" class="login100-form-btn" [disabled]="true" type="submit">
          <spinner></spinner>
        </button>
      </div>
    </div>

    <div class="flex-col-c p-4">
      <div class="row d-flex justify-content-between">
        <div class="col-4">
          <a routerLink="/admin/team" class="txt2">
            VOLVER
          </a>
        </div>
      </div>
    </div>
  </form>

</div>
