<div class="p-t-30 p-l-50 p-r-50">
  <h1 *ngIf="!firstLoading && totalTeams()! > 0">
    Hay {{ totalTeams() }} equipo/s
  </h1>
  <h1 *ngIf="!firstLoading && totalTeams()! === 0">No hay equipos</h1>
  <h1 *ngIf="firstLoading">Cargando equipo/s</h1>

  <div class="pagination" *ngIf="!firstLoading">
    <button class="up" (click)="getTeams(position() - 1)">◄</button>
    <button
      class="up"
      *ngFor="let pageNumber of getPageNumbers()"
      (click)="getTeams(pageNumber - 1)"
      [ngClass]="{ selected: pageNumber === position() + 1 }"
    >
      {{ pageNumber }}
    </button>
    <button class="up" (click)="getTeams(position() + 1)">►</button>
  </div>
  <table *ngIf="!firstLoading">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Color</th>
        <th>Puntos</th>
        <th>Evento</th>
        <th>Nombre</th>
        <th>Miembros del equipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let team of teams(); let i = index">
      <tr
        [ngStyle]="{
          'white-space': 'nowrap',
          overflow: 'hidden',
          'text-overflow': 'ellipsis'
        }"
      >
        <td>{{ i + 1 }}</td>
        <td>
          <div class="d-flex justify-content-center align-items-center m-2">
            <div
              [ngStyle]="{
                'white-space': 'nowrap',
                overflow: 'hidden',
                'text-overflow': 'ellipsis',
                'background-color': team.color,
                height: '30px',
                width: '30px'
              }"
            ></div>
            <div class="px-3" [title]="team.color">
              {{ team.color }}
            </div>
          </div>
        </td>
        <td>
          <div
            [ngStyle]="{
              'white-space': 'nowrap',
              overflow: 'hidden',
              'text-overflow': 'ellipsis'
            }"
            [title]="team.totalPoints"
          >
            {{ team.totalPoints }}
          </div>
        </td>
        <td>
          <div
            [ngStyle]="{
              'white-space': 'nowrap',
              overflow: 'hidden',
              'text-overflow': 'ellipsis'
            }"
            [title]="team.event"
          >
            {{ team.event }}
          </div>
        </td>
        <td>
          <div
            [ngStyle]="{
              'white-space': 'nowrap',
              overflow: 'hidden',
              'text-overflow': 'ellipsis'
            }"
            [title]="team.name"
          >
            {{ team.name }}
          </div>
        </td>
        <td>
          <div
            [ngStyle]="{
              'white-space': 'nowrap',
              overflow: 'hidden',
              'text-overflow': 'ellipsis'
            }"
            *ngFor="let teammate of team.users"
          >
            <div [title]="teammate.name">
              {{ teammate.name }}
            </div>
          </div>
        </td>
        <td>
          <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3">
              <button
                *ngIf="!loading"
                (click)="removeTeam(team._id)"
                class="fa-solid fa-trash fa-lg m-2 p-2"
                title="Eliminar equipo"
                style="background-color: red"
              ></button>
              <spinner *ngIf="loading" title="Eliminar equipo"></spinner>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="!firstLoading">
    <button class="bottom" (click)="getTeams(position() - 1)">◄</button>
    <button
      class="bottom"
      *ngFor="let pageNumber of getPageNumbers()"
      (click)="getTeams(pageNumber - 1)"
      [ngClass]="{ selected: pageNumber === position() + 1 }"
    >
      {{ pageNumber }}
    </button>
    <button class="bottom" (click)="getTeams(position() + 1)">►</button>
  </div>
  <spinner *ngIf="firstLoading"></spinner>
  <div class="m-2" *ngIf="!firstLoading">
    <button
      routerLink="/admin/team/add"
      class="fa-solid fa-plus m-2 p-2"
      title="Añadir equipo"
      style="background-color: blue; color: white"
    ></button>
  </div>
</div>
