<div class="container p-t-50 p-b-50 p-l-100 p-r-100 custom">
  <form
    [formGroup]="myForm"
    (ngSubmit)="changePassword()"
    class="login100-form"
    autocomplete="off"
  >
    <span class="login100-form-title p-b-49"> Cambiar contraseña </span>

    <div class="wrap-input100 m-b-10">
      <span class="label-input100">Contraseña</span>
      <div class="input-group">
        <input
          class="input100"
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="password"
          placeholder="Ingrese su nueva contraseña"
        />
        <span class="focus-input100"></span>
        <i
          class="fa"
          [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Confirme la contraseña</span>
      <div class="input-group">
        <input
          class="input100"
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="confirmPassword"
          placeholder="Repite la contraseña"
        />
        <span class="focus-input100"></span>
        <i
          class="fa"
          [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"
          (click)="togglePasswordVisibility()"
        ></i>
      </div>
    </div>

    <div class="p-t-15"></div>

    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
        <button
          *ngIf="!loading"
          class="login100-form-btn"
          [disabled]="myForm.invalid"
          type="submit"
        >
          Cambiar
        </button>
        <button
          *ngIf="loading"
          class="login100-form-btn"
          [disabled]="true"
          type="submit"
        >
          <spinner></spinner>
        </button>
      </div>
    </div>

    <div class="flex-col-c p-t-20">
      <div>
        <a
          *ngIf="!firstLoading"
          [routerLink]="'/participant/' + user?._id"
          class="txt2"
        >
          VOLVER
        </a>
        <button *ngIf="firstLoading" [disabled]="true" type="submit">
          <spinner></spinner>
        </button>
      </div>
    </div>
  </form>
</div>
