<div id="top" class="black">
  <div class="row d-flex align-items-center">
    <div class="col-3">
      <div>
        <a class="social" href="https://www.youtube.com/@ByFruty">
          <img class="links" src="../assets/youtube.svg" alt="YouTube">
          ByFruty
        </a>
      </div>
      <div>
        <a class="social" href="https://www.twitch.tv/byfruty">
          <img class="links" src="../assets/twitch.svg" alt="Twitch">
          ByFruty
        </a>
      </div>
      <div>
        <a class="social" href="https://discord.gg/xeGza8E7fG">
          <img class="links" src="../assets/discord.svg" alt="Discord">
          Frutylandia
        </a>
      </div>
      <div>
        <a class="social" href="https://www.tiktok.com/@byfruty">
          <img class="links" src="../assets/tiktok.svg" alt="Tiktok">
          ByFruty
        </a>
      </div>
    </div>
    <div class="col-5 center">
      <img class="schedule" src="../assets/horario.webp" alt="Horario">
    </div>
    <div class="col-4 p-4">
      <!-- <h3 class="contact">Si tienes dudas, contáctame</h3>
      <div class="">
        <a class="social " href="https://www.instagram.com/byfruty/">
          <img class="links" src="../assets/instagram.svg" alt="Instagram">
          ByFruty
        </a>
      </div>
      <div>
        <a class="social" href="mailto:drosterradioactive@gmail.com">
          <img class="links" src="../assets/gmail.svg" alt="Tiktok">
          Droster Radioactive
        </a>
      </div>
      <div>
        <a class="social" href="https://discord.com/channels/@me/971799467189747792">
          <img class="links" src="../assets/discord.svg" alt="Tiktok">
          Fruty .fruty
        </a>
      </div> -->
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div id class="mt-3">
      <div class="row mt-4 mb-4">
        <div class="row">
          <h1>Ganadores del FrutyFest 1</h1>
          <div class="col">
            <h2>Primer puesto</h2>
            <h3>ElFelipeRYS</h3>
            <img class="ganador" src="../assets/primer-ganador-frutyfest-01.webp" alt="ElFelipeRYS">
          </div>
          <div class="col">
            <h2>Segundo puesto</h2>
            <h3>ByTuza</h3>
            <img class="ganador" src="../assets/segundo-ganador-frutyfest-01.webp" alt="ByTuza">
          </div>
        </div>
      </div>
      <h1 id="reglasGenerales">
        Reglas Generales del FrutyFest 1
      </h1>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mt-4">
            <h2>Nº de participantes</h2>
            <p>20 participantes</p>
          </div>
          <div class="mt-4">
            <h2>Premios</h2>
            <p>Primer puesto - 100€ + Trofeo físico realizado a mano</p>
            <p>Segundo puesto - 50€</p>
          </div>
          <div class="mt-4">
            <h2>Requisitos</h2>
            <p>Ser streamer afiliado de Twitch.</p>
            <p>Tener constancia con los directos.</p>
            <p>Tener cuenta premium de Minecraft.</p>
            <p>Ser mayor de edad.</p>
            <p>Tener Paypal o algún medio donde otorgar el premio monetario.</p>
          </div>
          <div class="mt-4">
            <h2>Versión</h2>
            <p>1.20.1</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
          <h2>Trofeo</h2>
          <img class="img-content" src="../assets/trofeo.webp" alt="Trofeo">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <h2>Lobby</h2>
          <img class="img-content" src="../assets/modosDeJuego/lobby.webp" alt="Lobby">
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h1 id="modosDeJuego">
        Modos de juego
      </h1>
      <div class="mt-5">
        <h2 id="fase1">Fase 1</h2>
        <div class="row mt-4">
          <h3>Duelo por equipos</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 10 jugadores</p>
              <p>Equipo Azul - 10 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 50 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Pelea por equipos en la que hay que derrotar a todo el equipo enemigo.</p>
              <p>Por cada vez que se derrote a un equipo entero, el equipo vencedor recibe un punto.</p>
              <p>Ganará el primer equipo que consiga 3 puntos.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/dueloPorEquipos.webp" alt="Duelo por equipos">
          </div>
        </div>
        <div class="row mt-5">
          <h3>Duelo en el cielo a empujones</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 10 jugadores</p>
              <p>Equipo Azul - 10 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 50 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Pelea por equipos en la que hay que empujar fuera a todo el equipo enemigo.</p>
              <p>Por cada vez que se empuje fuera a un equipo entero, el equipo vencedor recibe un punto.</p>
              <p>Ganará el primer equipo que consiga 3 puntos.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/empujones.webp" alt="Duelo empujones">
          </div>
        </div>
        <div class="row mt-5">
          <h3>Cacería por turnos</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 10 jugadores</p>
              <p>Equipo Azul - 10 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 100 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Primero participa un equipo, luego el otro.</p>
              <p>El equipo debe escapar durante 3/5 minutos de 2/3 admins.</p>
              <p>El equipo que más supervivientes tenga o haya conseguido sobrevivir más tiempo, ganará el punto.</p>
              <p>Los participantes tendrán el efecto de oscuridad y velocidad, los cazadores tendrán visión nocturna.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/cazadores.webp" alt="Cacería">
          </div>
        </div>
        <div class="mt-3">
          <h3>
            Excepciones de la fase
          </h3>
          <p>Si tras la tercera prueba hay un empate de puntos, habrá una cuarta prueba dónde el ganador ganará la
            primera fase y se clasificará.</p>
          <p>Los participantes decidirán en qué juego de esta fase desempatar.</p>
        </div>
      </div>
      <div class="mt-5">
        <h2 id="fase2">Fase 2</h2>
        <div class="row mt-4">
          <h3>Prueba del castillo</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 5 jugadores</p>
              <p>Equipo Azul - 5 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 50 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Los dos equipos deberán encontrar una flor de Wither escondida en el castillo.</p>
              <p>El primer equipo que la encuentre ganará.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/castillo.webp" alt="Castillo">
          </div>
        </div>
        <div class="row mt-5">
          <h3>Build Battle</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 5 jugadores</p>
              <p>Equipo Azul - 5 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 50 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Cada equipo deberá construir 3 cosas que le digamos.</p>
              <p>Los jueces puntuarán del 1 al 10 cada construcción (Máximo 30 puntos por construcción).</p>
              <p>Ganará el que más puntos lleve entre todas las construcciones.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/buildBattle.webp" alt="Build Battle">
          </div>
        </div>
        <div class="row mt-5">
          <h3>Escapa del laberinto</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Equipo Rojo - 5 jugadores</p>
              <p>Equipo Azul - 5 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Puntuaciones</h3>
              <p>Equipo ganador - 100 puntos</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Los dos equipos deberán de escapar de un gran laberinto que sólo tendrá una salida.</p>
              <p>El primer equipo que escape, ganará la prueba.</p>
              <p>Deberán de salir los 5 miembros del equipo a la vez para poder superar la prueba.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/laberinto.webp" alt="Laberinto">
          </div>
        </div>
        <div class="mt-3">
          <h3>
            Excepciones de la fase
          </h3>
          <p>Si tras la tercera prueba hay un empate de puntos, habrá una cuarta prueba dónde el ganador ganará la
            primera fase y se clasificará.</p>
          <p>Los participantes decidirán en qué juego de esta fase desempatar.</p>
        </div>
      </div>
      <div class="mt-5">
        <h2 id="fase3">Fase 3</h2>
        <div class="row mt-4">
          <h3>No te caigas</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Individual - 5 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Eliminaciones</h3>
              <p>Quinto puesto</p>
              <p>Cuarto puesto</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Jugarán el clásico "TNT RUN" dónde el primero que caiga hasta abajo será eliminado.</p>
              <p>Los 3 que ganan pasarán.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/tntRun.webp" alt="TNT RUN">
          </div>
        </div>
        <div class="row mt-5">
          <h3>Carrera de botes</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div>
              <h3>Equipos</h3>
              <p>Individual - 3 jugadores</p>
            </div>
            <div class="mt-3">
              <h3>Eliminaciones</h3>
              <p>Tercer puesto</p>
            </div>
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Harán una carrera de botes sobre hielo y luego seguirán un pequeño tramo por agua con el bote.</p>
              <p>Los 2 participantes que lleguen primero a la meta, se clasificarán y pasarán a la final.</p>
              <p>La persona restante será eliminada y desclasificada.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/carrera.webp" alt="Carrera">
          </div>
        </div>
      </div>
      <div class="mt-5">
        <h2 id="faseFinal">Fase Final</h2>
        <div class="row mt-4">
          <h3>1vs1 final</h3>
          <div class="col-12 col-lg-6 mt-2">
            <div class="mt-3">
              <h3>Descripción del modo</h3>
              <p>Al mejor de 5 rondas.</p>
              <p>El finalista que logre matar al otro recibe un punto.</p>
              <p>Gana el primero que logre 3 puntos.</p>
              <p>Los 2 participantes podrán elegir entre los distintos mapas en los que quieran hacer el 1vs1,
                incluyendo el coliseo que se construirá como nuevo mapa desconocido.</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <img class="img-content-modos" src="../assets/modosDeJuego/coliseo.webp" alt="Coliseo">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="mt-5">
      <h2>
        Ranking
      </h2>
      <div>
        <frutyfest-ranking></frutyfest-ranking>
      </div>
    </div> -->
  </div>
  <div class="irArriba" *ngIf="mostrarBoton">
    <button class="btn btn-primary" (click)="scrollToSection('top')" title="Volver arriba">
      <i class="fas fa-arrow-up"></i>
    </button>
  </div>
</div>
