<div class="black">
  <div class="row d-flex align-items-center">
    <div class="col-8 center">
      <img class="horario" src="./assets/horario.png" alt="Horario">
    </div>
    <div class="col-4">
      <div>
        <a class="prueba" href="https://www.youtube.com/@ByFruty">
          <img class="links" src="./assets/youtube.svg" alt="YouTube">
          ByFruty
        </a>
      </div>
      <div>
        <a class="prueba" href="https://www.instagram.com/byfruty/">
          <img class="links" src="./assets/instagram.svg" alt="Instagram">
          ByFruty
        </a>
      </div>
      <div>
        <a class="prueba" href="https://www.twitch.tv/byfruty">
          <img class="links" src="./assets/twitch.svg" alt="Twitch">
          ByFruty
        </a>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="mt-3">
      <h3>
        Reglas Generales del FrutyFest
      </h3>
      <div>
        Contenido
      </div>
    </div>
    <div class="mt-5">
      <h3>
        Modos de juego
      </h3>
      <div>
        Contenido
      </div>
    </div>
    <div class="mt-5">
      <h3>
        Ranking
      </h3>
      <div>
        <frutyfest-ranking></frutyfest-ranking>
      </div>
    </div>
  </div>
</div>
