<form [formGroup]="myForm" (ngSubmit)="register()" class="login100-form" autocomplete="off">

  <span class="login100-form-title p-b-30">
    Registro
  </span>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">Correo</span>
    <input class="input100" type="email" formControlName="email" placeholder="Correo electrónico">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">Nombre</span>
    <input class="input100" type="text" formControlName="name" placeholder="Nombre de usuario de Twitch">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">Nombre de Minecraft</span>
    <input class="input100" type="text" formControlName="minecraftName" placeholder="Nombre de usuario de Minecraft">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">Contraseña</span>
    <div class="input-group">
      <input class="input100" type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"
        placeholder="Ingrese su contraseña">
      <span class="focus-input100"></span>
      <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"
        (click)="togglePasswordVisibility()"></i>
    </div>
  </div>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">Confirme la contraseña</span>
    <div class="input-group">
      <input class="input100" type="{{ showPassword ? 'text' : 'password' }}" formControlName="confirmPassword"
        placeholder="Repite la contraseña">
      <span class="focus-input100"></span>
      <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"
        (click)="togglePasswordVisibility()"></i>
    </div>
  </div>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">¿Tiene compañero?</span>
    <div>
      <label><input class="m-l-30" type="radio" formControlName="hasCompanion" [value]='true'> SÍ</label>
      <label><input class="m-l-30" type="radio" formControlName="hasCompanion" [value]='false'> NO</label>
    </div>
  </div>

  <div class="wrap-input100 m-b-10" *ngIf="myForm.get('hasCompanion')?.value === true">
    <span class="label-input100">Nombre del compañero</span>
    <input class="input100" type="text" formControlName="companionName"
      placeholder="Nombre de usuario de Twitch del compañero">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">Presentación</span>
    <textarea class="input100 m-t-15" formControlName="presentation"
      placeholder="Escriba su presentación aquí"></textarea>
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-10">
    <span class="label-input100">Evento</span>
    <div class="m-t-15">
      <label *ngFor="let event of events">
        <input class="m-l-30" type="radio" formControlName="event" [value]='event.event'> {{event.event}}
      </label>
    </div>
    <div class="input-group">
      <span class="focus-input100"></span>
    </div>
  </div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn" [disabled]="myForm.invalid" type="submit">
        Registrar
      </button>
    </div>
  </div>

  <div class="flex-col-c p-t-20">
    <span class="txt1 p-b-10">
      ¿Ya tienes cuenta?
    </span>

    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-8">
        <a routerLink="/auth/login" class="txt2">
          Inicia sesión
        </a>
      </div>

      <div class="col-4">
        <a routerLink="/" class="txt2">
          VOLVER
        </a>
      </div>
    </div>
  </div>
</form>
