.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para que la imagen cubra todo el contenedor */
}
