<h1 class="text-uppercase">
  <time class="date"></time>
  <span aria-hidden="true" class="mx-1"> · </span>
  <time class="time"></time>
</h1>

<div class="mt-2 text-uppercase d-flex flex-column justify-content-center align-items-center">
  <ng-container *ngIf="days !== '00' || hours !== '00' || minutes !== '00' || seconds !== '00'; else eventStarted">
    <div class="row">
      <h2>Para que comience el evento faltan</h2>
    </div>
    <div class="row">
      <div class="gap-2 d-flex align-items-center">
        <div class="data-days"></div>
        <span aria-hidden="true" class="mt-1 fs-1"> : </span>
        <div class="data-hours"></div>
        <span aria-hidden="true" class="mt-1 fs-1"> : </span>
        <div class="data-minutes"></div>
        <span aria-hidden="true" class="mt-1 fs-1"> : </span>
        <div class="data-seconds"></div>
      </div>
    </div>
  </ng-container>
  <ng-template #eventStarted>
    <p>El evento ha comenzado...</p>
  </ng-template>
</div>
