<div class="container pt-4 px-5">
  <div class="custom row p-4">
    <div *ngIf="!loading">
      <h1 class="pt-2">Nombre de Twitch</h1>
      <p class="ps-4">{{ user?.name }}</p>
      <h1 class="pt-2">Nombre de Minecraft</h1>
      <p class="ps-4">{{ user?.minecraftName }}</p>
      <h1 class="pt-2">Correo</h1>
      <p class="ps-4">{{ user?.email }}</p>
      <h1 class="pt-2">Nombre de Twitch del compañero (Si tiene)</h1>
      <p class="ps-4">{{ user?.companionName }}</p>
      <h1 class="pt-2">Presentación</h1>
      <p class="ps-4">{{ user?.presentation }}</p>
    </div>
    <spinner *ngIf="loading"></spinner>
  </div>
  <div class="row">
    <div class="col">
      <li class="btn return-button mt-4" routerLink="/">V O L V E R</li>
    </div>
    <div class="col flex-r">
      <li
        class="btn edit-button mt-4"
        [routerLink]="'/participant/edit/' + user?._id"
      >
        E D I T A R
      </li>
    </div>
    <div class="col flex-r">
      <li
        class="btn edit-button mt-4"
        [routerLink]="'/participant/changePassword/' + user?._id"
      >
        CAMBIAR CONTRASEÑA
      </li>
    </div>
  </div>
</div>
