<div class="container p-t-30 p-l-50 p-r-50">
  <div class="custom row p-4">
    <h1 class="p-t-10">Nombre de Twitch</h1>
    <p class="p-l-40">{{user?.name}}</p>
    <h1 class="p-t-10">Correo</h1>
    <p class="p-l-40">{{user?.email}}</p>
    <h1 class="p-t-10">Nombre de Twitch del compañero (Si tiene)</h1>
    <p class="p-l-40">{{user?.companionName}}</p>
    <h1 class="p-t-10">Presentación</h1>
    <p class="p-l-40">{{user?.presentation}}</p>
  </div>
  <div class="row">
    <div class="col">
      <li class="btn return-button mt-4" routerLink="/">V O L V E R</li>
    </div>
    <div class="col flex-r">
      <li class="btn edit-button mt-4" [routerLink]="'/participant/edit/'+user?._id">E D I T A R</li>
    </div>
    <div class="col flex-r">
      <li class="btn edit-button mt-4" [routerLink]="'/participant/changePassword/'+user?._id">CAMBIAR CONTRASEÑA</li>
    </div>
  </div>
</div>
